<div class="show-friends">
    <button class="btn btn-primary" ng-click="vm.addFriend()">
        Add a friend
        <i class="fa fa-user-plus"></i>
    </button>
    <table class="table table-bordered filled-cells">
        <tr>
            <td>Login</td>
            <td>Name</td>
            <td>Surname</td>
            <td>Has access to your books</td>
            <td>Do I have an access to friend's books</td>
            <td>Grant access</td>
            <td>Write a message</td>
        </tr>
        <tr ng-repeat="(key, friend) in vm.friends">
            <td title="'Login'"> {{ friend.login }} </td>
            <td title="'Name'"> {{ friend.name }} </td>
            <td title="'Surname'"> {{ friend.surname }} </td>
            <td title="'Friend is authorized'"> {{ friend.isFriendAuthorized }} </td>
            <td title="'I am authorized'"> {{ friend.isUserAuthorized }} </td>
            <td title="'Grant Access'">
                <div class="details-container">
                    <span ng-disabled="friend.isFriendAuthorized" class="glyphicon glyphicon-check" ng-click="vm.addAccess(key)"></span>
                </div>
            </td>
            <td title="'Message'">
                <div class="details-container">
                    <span class="glyphicon glyphicon-envelope" ng-click="vm.chat(key)"></span>
                </div>
            </td>
        </tr>
    </table>
</div>