<div id="menu" class="sidenav menu" ng-controller="NavbarMenuController as vm" ng-show="vm.isAuthorized()">
    <ul>
        <li><a ui-sref="books">Books<i class="fa fa-book"></i></a></li>
        <li><a ui-sref="friends">Friends<i class="fa fa-users"></i></a></li>
        <li><a ui-sref="search">Search<i class="fa fa-search"></i></a></li>
        <li><a ui-sref="institutions">Institutions<i class="fa fa-building"></i></a> </li>
        <li><a ui-sref="institutions-search">Search in library<i class="fa fa-building"></i></a> </li>
        <li><a ui-sref="messages">Messages<i class="fa fa-envelope"></i></a></li>
        <li><a ui-sref="account">Account<i class="fa fa-user"></i></a></li>
        <li><a ui-sref="drive">Google Drive<i class="fa fa-user"></i></a></li>
    </ul>
</div>