<div ng-controller="NavbarMenuController as vm">
    <div class="container-fluid navbar-all">
        <div class="sliding-menu">
            <a ui-sref="home" style="margin-left: 20px;"><img src="static/img/booka_logo_light.png" style="height: 30px;"></a>
            <a ng-show="vm.isAuthorized()" onclick="openMenu()"><i class="fa fa-bars"></i></a>
        </div>
        <ul class="navbar" style="display: inline-flex; justify-content: flex-end">
            <li ng-if="vm.isAuthorized()"><a ui-sref="books"><i class="fa fa-book"></i></a></li>
            <li ng-if="vm.isAuthorized()"><a ui-sref="messages"><i class="fa fa-envelope"></i></a></li>
            <li ng-if="vm.isAuthorized()"><a ui-sref="show-friends"><i class="fa fa-users"></i></a></li>
            <li ng-if="vm.isAuthorized()"><a ui-sref="search"><i class="fa fa-search"></i></a></li>
            <li class="dropdown">
                <a href class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i></a>
                <ul class="dropdown-menu" id="user-dp-content">
                    <div class="row">
                        <div class="col-md-12 text-center" style="padding-bottom: 5px; font-weight: bold">
                            <a ng-if="!vm.isAuthorized()" ui-sref="login">Sign in</a>
                            <div ng-if="vm.isAuthorized()" style="display: grid">
                                <p style="font-weight: bold; text-decoration: underline"> {{ vm.userData().login }} </p>
                                <a class="text-center" ui-sref="account">Account</a>
                                <button class="btn" ng-click="vm.signOut()">Sign out</button>
                            </div>
                        </div>
                        <div class="bottom text-center" ng-if="!vm.isAuthorized()">
                            <a ui-sref="register"><b> Sign up </b></a>
                        </div>
                    </div>
                </ul>
            </li>
        </ul>
    </div>

    <div class="container-fluid col-md-12" style="display: flex">

        <div ng-include="'views/sidebar/sidebar.view.html'"/>

        <div class="container col-md-11 ui-view-container">
            <div class="main-container" ui-view></div>
        </div>

    </div>
</div>

<script>
    function openMenu() {
        if (document.getElementById("menu").style.height === "0px")
            document.getElementById("menu").style.height = "100%";
        else document.getElementById("menu").style.height = "0px";
    }
</script>