<div class="lent">

    <div style="margin: 20px 0px 20px 0px; font-size: 20px;">
        <button class="btn" style="font-size: 20px; padding: 5px; margin: 5px; background-color: var(--background_purple_dark); color: #efefef" ng-click="vm.lentActive === 0 ? vm.lentActive = 1 : vm.lentActive = 0">Lent a book</button>
        <button class="btn" style="font-size: 20px; padding: 5px; margin: 5px; background-color: var(--background_purple_dark); color: #efefef">Borrow a book</button>
    </div>

    <div style="margin: 20px 0px 20px 0px; background-color: var(--background_purple_darker_intro); font-size: 18px;" ng-if="vm.lentActive === 1">
        <form style="margin: 10px; padding: 5px;" name="lentBookForm" ng-submit='vm.lentBook()'>
            <div class="form-group">
                <label for="book">Book</label>
                <select class="form-control" id="book" required ng-options="book.id as book.title for book in vm.books"
                        ng-value="book.id" ng-model="vm.lentBookStructure.book">
                    <option ></option>
                </select>
            </div>
            <div class="form-group">
                <label for="friend">Friend</label>
                <select class="form-control" id="friend" required ng-options="friend.id as friend.login for friend in vm.friends"
                        ng-value="friend.id" ng-model="vm.lentBookStructure.friend">
                    <option ></option>
                </select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" style="font-size: 20px; margin: 10px 10px 10px 30px; padding: 10px; background-color: var(--background_purple_dark);
                color: var(--background_grey_lighter);" ng-disabled="lentBookForm.$invalid">
                    Lent &nbsp; <i class="fa fa-bookmark" aria-hidden="true"></i>
                </button>
            </div>
        </form>
    </div>

    <div class="lent-books-bar">
        <button class="lent-books-item" ng-click="vm.activeTab = 0" ng-class="vm.activeTab === 0 ? 'active-tab' : 'non-active-tab'">Lent Books</button>
        <button class="lent-books-item" ng-click="vm.activeTab = 1" ng-class="vm.activeTab === 1 ? 'active-tab' : 'non-active-tab'">Borrowed Books</button>
    </div>

    <div id="lent" class="lent-card" ng-show="vm.activeTab === 0">
        <table ng-table="vm.lentBooksTable" show-filter="true" class="table table-bordered filled-cells">
            <tr ng-repeat="book in $data">
                <td title="'Title'" filter="{title : 'text'}" sortable="'title'"> {{ book.book.title }} </td>
                <td title="'Author'" filter="{author : 'text'}" sortable="'author'"> {{ book.book.author }} </td>
                <td title="'To'" filter="{format : 'text'}" sortable="'format'"> {{ book.borrower.login }} </td>
                <td title="'Message'" filter="{status : 'text'}" sortable="'status'"> {{ book.message }} </td>
                <td class="Details" title="'Details'">
                    <div class="details-container">
                        <span class="glyphicon glyphicon-book" ng-click="vm.showLentDetails(book.id)"></span>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div id="borrowed" class="lent-card" ng-show="vm.activeTab === 1">
        <table ng-table="vm.borrowedBooksTable" show-filter="true" class="table table-bordered filled-cells">
            <tr ng-repeat="book in $data">
                <td title="'Title'" filter="{title : 'text'}" sortable="'title'"> {{ book.book.title }} </td>
                <td title="'Author'" filter="{author : 'text'}" sortable="'author'"> {{ book.book.author }} </td>
                <td title="'From'" filter="{format : 'text'}" sortable="'format'"> {{ book.book.user.login}} </td>
                <td title="'Message'" filter="{status : 'text'}" sortable="'status'"> {{ book.message }} </td>
                <td class="Details" title="'Details'">
                    <div class="details-container">
                        <span class="glyphicon glyphicon-book" ng-click="vm.showBorrowingDetails(book.id)"></span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>