<div class="main-carousel-view">
    <div id="carouselBooka" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carouselBooka" data-slide-to="0" class="active"></li>
            <li data-target="#carouselBooka" data-slide-to="1"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">

            <div class="item active">
                <img src="static/img/booka_background_2.jpg" alt="Books" style="width:100%;">
                <div class="carousel-caption">
                    <img src="static/img/booka_logo_light.png">
                    <h1>Booka</h1>
                    <h2>save your time with books management</h2>
                </div>
            </div>

            <div class="item">
                <img src="static/img/booka_background.jpg" alt="Books2" style="width:100%;">
                <div class="carousel-caption">
                    <ul>
                        <li><h1>Now you can easily:</h1></li>
                        <li>look through your books</li>
                        <li>search for specific ones</li>
                        <li>connect with your library / Google Drive / Facebook accounts</li>
                        <li>open your ebooks just from application</li>
                        <li>check which books did you lend</li>
                        <li>and send notifications to your friends, who borrowed your books and don't want to give them back!</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>