<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Booka</title>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/vendor/bootstrap/dist/css/bootstrap.min.css" th:href="@{/vendor/bootstrap/dist/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" href="../static/vendor/font-awesome/css/font-awesome.min.css" th:href="@{/vendor/font-awesome/css/font-awesome.min.css}"/>
</head>

<body ng-app="booka">

<div class="main-view">
    <div class="container-fluid navbar">
        <a href="/books"><i class="fa fa-book"></i> </a>
        <a href="/messages"><i class="fa fa-envelope"></i> </a>
        <a href="/friends"><i class="fa fa-users"></i> </a>
        <a href="/search"><i class="fa fa-search"></i> </a>
        <a href="/account"><i class="fa fa-user"></i> </a>
        <a href="/">Booka</a>
    </div>

    <div class="container-fluid col-md-12" style="display: flex">
        <div class="container col-md-1 menu">
            <ul>
                <li><a href="/books">Books<i class="fa fa-book"></i></a></li>
                <li><a href="/friends">Friends<i class="fa fa-users"></i></a></li>
                <li><a href="/search">Search<i class="fa fa-search"></i></a></li>
                <li><a href="/institutions">Institutions<i class="fa fa-building"></i></a> </li>
                <li><a href="/messages">Messages<i class="fa fa-envelope"></i></a></li>
                <li><a href="/account">Account<i class="fa fa-user"></i></a></li>
            </ul>
        </div>

        <div class="container col-md-12 main-container">
            <div class="col-md-8 big-container">
                <p>ALAALALALALALLLLLLLLLLLLLLLLLLLLLLLLLLLLLLALALALALALA</p>
            </div>
            <div class="col-md-3 small-container">
                <p>ALAALALALALALLLLLLLLLL</p>
                <p>LLLLLLLLLLLLLLLLLLL</p>
                <p>LALALALALALA</p>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container-fluid">
            <p class="text-center">Booka - Milosz Bialczak, Mateusz Gniewkowski, Beata Szelag, 2017</p>
        </div>
    </footer>
</div>



<script type="text/javascript" src="../static/vendor/lodash/dist/lodash.min.js" th:src="@{/vendor/lodash/dist/lodash.min.js}"></script>
<script type="text/javascript" src="../static/vendor/moment/min/moment-with-locales.min.js" th:src="@{/vendor/moment/min/moment-with-locales.min.js}"></script>
<script type="text/javascript" src="../static/vendor/jquery/dist/jquery.min.js" th:src="@{/vendor/jquery/dist/jquery.min.js}"></script>
<script type="text/javascript" src="../static/vendor/jquery-ui/jquery-ui.min.js" th:src="@{/vendor/jquery-ui/jquery-ui.min.js}"></script>
<script type="text/javascript" src="../static/vendor/bootstrap/dist/js/bootstrap.min.js" th:src="@{/vendor/bootstrap/dist/js/bootstrap.min.js}"></script>

<script type="text/javascript" src="../static/vendor/angular/angular.min.js" th:src="@{/vendor/angular/angular.min.js}"></script>
<script type="text/javascript" src="../static/vendor/angular-cookies/angular-cookies.min.js" th:src="@{/vendor/angular-cookies/angular-cookies.min.js}"></script>
<script type="text/javascript" src="../static/vendor/angular-resource/angular-resource.min.js" th:src="@{/vendor/angular-resource/angular-resource.min.js}"></script>
<script type="text/javascript" src="../static/vendor/angular-route/angular-route.min.js" th:src="@{/vendor/angular-route/angular-route.min.js}"></script>

<!-- App & Config -->
<script src="../static/js/app.js" th:src="@{/js/app.js}"></script>
<script src="../static/js/config/app.config.js" th:src="@{/js/config/app.config.js}"></script>

</body>
</html>
