<script>
    window.gapiCallbacks=[];
    function gapiLoaded(){
        gapi.auth.init(function() {
            gapi.client.load('drive', 'v2').then(function () {
                var GapiQueue = function () {
                    this.push = function (callback) {
                        setTimeout(callback, 0);
                    };
                };
                var _old_gapiCallbacks = window.gapiCallbacks;
                window.gapiCallbacks = new GapiQueue();
                _old_gapiCallbacks.forEach(function (callback) {
                    window.gapiCallbacks.push(callback);
                });
            },function(reason){
                console.err(reason);
            });
        });
    }
</script>


<script src="https://apis.google.com/js/client.js?onload=gapiLoaded"></script>

<div class="gdrive">
    <h2>Google Drive Account</h2>
    <div ng-show="checkingLogin">Checking login status...</div>
    <div> {{ loggedIn ? 'You are signed in!' : 'Please sign in to your Google Drive account' }} </div>
    <button class="btn btn-primary" ng-disabled="checkingLogin || loggedIn" ng-click="login()">Sign in to Google Drive</button>

    <div ng-show="loggedIn">
        <h2>Google Drive</h2>
        <button class="btn btn-success" ng-disabled="uploading" ng-click="clickFileUpload()">Upload file to your Google Drive</button>
        <input type="file" id="uploadFile" onchange="angular.element(this).scope().upload()" style="display:none;">
        <div ng-show="uploading">Uploading...</div>

        <h3>Uploaded files:</h3>
        <div ng-show="!files.length">No uploaded files yet</div>
        <div>
            <ul>
                <li ng-repeat="file in files"><a target="_blank" ng-href="{{file}}">{{ file }}</a></li>
            </ul>
        </div>

        <h3>Files from Google Drive:</h3>
        <button class="btn btn-warning" ng-click="vm.showFiles()"> Show files </button>
        <div ng-show="!vm.files.length">No files</div>
        <div ng-show="vm.files.length">
            <ul>
                <li ng-repeat="file in vm.files">
                    <div ng-show="file.originalFilename" ng-class="file.fileExtension">
                        {{ 'Name : ' + file.originalFilename }} &nbsp;
                        <a target="_blank" ng-href="{{file.alternateLink}}"> Link </a> &nbsp;
                        {{ 'Extension: ' + file.fileExtension }} &nbsp;
                        {{ 'Owners: ' + file.ownerNames  }}
                    </div>
                    <div ng-show="!file.originalFilename" class="catalog">
                        Catalog &nbsp;
                        <a target="_blank" ng-href="{{file.alternateLink}}"> Link </a> &nbsp;
                    </div>
                </li>
            </ul>
        </div>

    </div>

</div>