<!DOCTYPE html>
<html ng-app="booka"
      xmlns:th="http://www.thymeleaf.org">>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Booka</title>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/vendor/bootstrap/dist/css/bootstrap.min.css" th:href="@{/vendor/bootstrap/dist/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" href="../static/vendor/font-awesome/css/font-awesome.min.css" th:href="@{/vendor/font-awesome/css/font-awesome.min.css}"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css"/>
</head>

<body>

<!-- Navbar -->
<div class="w3-top">
    <div class="w3-bar w3-theme w3-top w3-left-align w3-large">
        <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-theme-l1" href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
        <a href="/" class="w3-bar-item w3-button w3-theme-l1">Booka</a>
        <a href="/account" class="w3-bar-item w3-button w3-hide-small w3-hover-white"><i class="fa fa-user"></i> </a>
        <a href="/search" class="w3-bar-item w3-button w3-hide-small w3-hover-white"><i class="fa fa-search"></i> </a>
        <a href="/friends" class="w3-bar-item w3-button w3-hide-small w3-hover-white"><i class="fa fa-users"></i> </a>
        <a href="/messages" class="w3-bar-item w3-button w3-hide-small w3-hover-white"><i class="fa fa-envelope"></i> </a>
        <a href="/books" class="w3-bar-item w3-button w3-hide-small w3-hover-white"><i class="fa fa-book"></i> </a>
    </div>
</div>

<!-- Sidebar -->
<nav class="w3-sidebar w3-bar-block w3-collapse w3-large w3-theme-l5 w3-animate-left" style="z-index:3;width:250px;margin-top:43px;" id="mySidebar">
    <a href="javascript:void(0)" onclick="w3_close()" class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="Close Menu">
        <i class="fa fa-remove"></i>
    </a>
    <h4 class="w3-bar-item"><b>Menu</b></h4>
    <a class="w3-bar-item w3-button w3-hover-black" href="/books">Books</a>
    <a class="w3-bar-item w3-button w3-hover-black" href="/friends">Friends</a>
    <a class="w3-bar-item w3-button w3-hover-black" href="/search">Search</a>
    <a class="w3-bar-item w3-button w3-hover-black" href="/institutions">Institutions</a>
    <a class="w3-bar-item w3-button w3-hover-black" href="/messages">Messages</a>
    <a class="w3-bar-item w3-button w3-hover-black" href="/account">Account</a>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
<div class="w3-main" style="margin-left:250px">

    <div class="w3-row w3-padding-64">
        <div class="w3-twothird w3-container">
            <h1 class="w3-text-teal">Heading</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum
                dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </div>
</div>

<div>
    <div>

    </div>
</div>

<footer class="footer">
    <div class="container">
        <p class="text-left">Booka - Milosz Bialczak, Mateusz Gniewkowski, Beata Szelag, 2017</p>
    </div>
</footer>


<script>
    // Get the Sidebar
    var mySidebar = document.getElementById("mySidebar");

    // Get the DIV with overlay effect
    var overlayBg = document.getElementById("myOverlay");

    // Toggle between showing and hiding the sidebar, and add overlay effect
    function w3_open() {
        if (mySidebar.style.display === 'block') {
            mySidebar.style.display = 'none';
            overlayBg.style.display = "none";
        } else {
            mySidebar.style.display = 'block';
            overlayBg.style.display = "block";
        }
    }

    // Close the sidebar with the close button
    function w3_close() {
        mySidebar.style.display = "none";
        overlayBg.style.display = "none";
    }
</script>


<script type="text/javascript" src="../static/vendor/lodash/dist/lodash.min.js" th:src="@{/vendor/lodash/dist/lodash.min.js}"></script>
<script type="text/javascript" src="../static/vendor/moment/min/moment-with-locales.min.js" th:src="@{/vendor/moment/min/moment-with-locales.min.js}"></script>
<script type="text/javascript" src="../static/vendor/jquery/dist/jquery.min.js" th:src="@{/vendor/jquery/dist/jquery.min.js}"></script>
<script type="text/javascript" src="../static/vendor/jquery-ui/jquery-ui.min.js" th:src="@{/vendor/jquery-ui/jquery-ui.min.js}"></script>
<script type="text/javascript" src="../static/vendor/bootstrap/dist/js/bootstrap.min.js" th:src="@{/vendor/bootstrap/dist/js/bootstrap.min.js}"></script>

<script type="text/javascript" src="../static/vendor/angular/angular.min.js" th:src="@{/vendor/angular/angular.min.js}"></script>
<script type="text/javascript" src="../static/vendor/angular-cookies/angular-cookies.min.js" th:src="@{/vendor/angular-cookies/angular-cookies.min.js}"></script>
<script type="text/javascript" src="../static/vendor/angular-resource/angular-resource.min.js" th:src="@{/vendor/angular-resource/angular-resource.min.js}"></script>
<script type="text/javascript" src="../static/vendor/angular-route/angular-route.min.js" th:src="@{/vendor/angular-route/angular-route.min.js}"></script>

<!-- App & Config -->
<script src="../static/js/app.js" th:src="@{/js/app.js}"></script>
<script src="../static/js/config/app.config.js" th:src="@{/js/config/app.config.js}"></script>

</body>
</html>
