<div class="show-books">
    <table ng-table="vm.booksTable" show-filter="true" class="table table-bordered filled-cells">
        <tr ng-repeat="book in $data">
            <td title="'Title'" filter="{title : 'text'}" sortable="'title'"> {{ book.title }} </td>
            <td title="'Author'" filter="{author : 'text'}" sortable="'author'"> {{ book.author }} </td>
            <td title="'Format'" filter="{format : 'text'}" sortable="'format'"> {{ book.format }} </td>
            <td title="'Status'" filter="{status : 'text'}" sortable="'userId'"> {{ book.status }} </td>
            <td class="Details" title="'Details'">
                <div class="details-container">
                    <a href="#/books/{{job.id}}"><i class="fa fa-info-circle"></i></a>
                </div>
            </td>
        </tr>
    </table>
</div>