.show-books {
    background-color: var(--background_grey_light);
    width: 100%;
    padding: 10px;
    margin: 10px;
}

.show-books .filled-cells {
    background-color: var(--background_grey_lighter) !important;
    text-align: center;
}

.show-books .ng-table-pagination {
    display: flex !important;
    justify-content: center !important;
}

.show-books .details-container {
    display: flex;
    justify-content: center;
}

.show-books .details a {
    cursor: pointer;
    margin: 0 5px 0 5px;
    color: var(--font_grey);
}

.show-books .details a:hover {
    color: var(--font_grey_light)
}

.show-books .details .fa {
    font-size: 1.2em;
}